In [62]:
import pandas as pd

## generate labels from tweet data

### labels:
* 0: attended no conferences
* 1: attended anthrocon
* 2: attended comiccon2017
* 3: attended icann2016
* 4: attended anthrocon, and comiccon2017
* 5: attended anthrocon, and icann2016
* 6: attended comiccon2017, and icann2016
* 7: attended anthrocon, comiccon2017, and icann2016

In [63]:
# load data
path = "data/tweets/"

tweets1 = pd.read_csv(path+"anthrocon_tweets.csv", delimiter=',')
tweets2 = pd.read_csv(path+"comiccon2017_tweets.csv", delimiter=',')
tweets3 = pd.read_csv(path+"icann2016_tweets.csv", delimiter=',')

In [64]:
display(tweets1.head())
display(tweets2.head())
display(tweets3.head())

,event,tweet_id,node_id,tweet,attendance_label
0,anthrocon,1017097806786580480,601,anthrocon AC2018,1
1,anthrocon,1015974586138222594,621,“Furries descend upon Pittsburgh for Anthrocon...,1
2,anthrocon,1039835765566566400,768,Things are complicated right now. I'm not sure...,1
3,anthrocon,1016118419912036353,702,AC_MMXVIII pic.twitter.com/6zRIR13ko5,1
4,anthrocon,1016531045506781184,157,Anthrocon Anthrocon2018 AC2018 pic.twitter.com...,1

,event,tweet_id,node_id,tweet,attendance_label
0,comiccon2017,891241828477001728,2192,"Woohoo, going to comiccon2017 in London later ...",1
1,comiccon2017,924482142146572293,883,With catwoman catwomen lacomiccon2017 lacomicc...,1
2,comiccon2017,888840194308362240,1123,Why I'm not at comiccon2017 ryangosling pic.tw...,1
3,comiccon2017,889340577367678980,132,Which one of these things doesn't belong? Blac...,1
4,comiccon2017,888801595990736896,1959,Where's Wally?! KeiynanLonsdale comiccon2017 p...,1

,event,tweet_id,node_id,tweet,attendance_label
0,icann572016,989698109449146370,210,.ICANN in a deadlock with GDPR over the WHOIS ...,1
1,icann572016,990890732151025664,105,RT DrivingTheDay : ICANN Webinar Tuesday MAY 1...,1
2,icann572016,991400783508733952,630,"UNCSTD WSIS session, njhickson of ICANN : ther...",1
3,icann572016,992730328119865345,25,"UNCSTD WSIS session, njhickson of ICANN : the ...",1
4,icann572016,993078692829126656,25,"UNCSTD WSIS session, Canada: WGEC improved mut...",1

In [65]:
display(tweets1.describe())
display(tweets2.describe())
display(tweets3.describe())

           tweet_id      node_id  attendance_label
count  3.842000e+03  3842.000000       3842.000000
mean   1.025670e+18   594.361270          0.686101
std    1.517368e+16   292.637332          0.464136
min    1.014305e+18     0.000000          0.000000
25%    1.015596e+18   327.000000          0.000000
50%    1.016819e+18   643.000000          1.000000
75%    1.032741e+18   790.000000          1.000000
max    1.068394e+18  1059.000000          1.000000

           tweet_id      node_id  attendance_label
count  4.381000e+03  4381.000000       4381.000000
mean   8.952836e+17  1237.376855          0.757818
std    1.346167e+16   717.575998          0.428453
min    8.888001e+17     0.000000          0.000000
25%    8.890000e+17   593.000000          1.000000
50%    8.895079e+17  1252.000000          1.000000
75%    8.929518e+17  1858.000000          1.000000
max    1.056351e+18  2494.000000          1.000000

           tweet_id      node_id  attendance_label
count  2.550000e+03  2550.000000       2550.000000
mean   1.031794e+18   520.085882          0.301176
std    2.278375e+16   295.359141          0.458859
min    9.896981e+17     0.000000          0.000000
25%    1.011585e+18   248.000000          0.000000
50%    1.034929e+18   540.500000          0.000000
75%    1.052350e+18   781.000000          1.000000
max    1.068184e+18  1015.000000          1.000000

In [66]:
def get_attendees(tweets):
    return tweets.loc[tweets['attendance_label'] == 1]['node_id']

In [67]:
nodes1 = get_attendees(tweets1).to_numpy()
nodes2 = get_attendees(tweets2).to_numpy()
nodes3 = get_attendees(tweets3).to_numpy()

In [68]:
all_nodes = np.concatenate([nodes1, nodes2, nodes3])

node_min = all_nodes.min()
node_max = all_nodes.max()
print("node_min: ", node_min)
print("node_max: ", node_max)

node_min:  0
node_max:  2494

* 0: attended no conferences
* 1: attended anthrocon
* 2: attended comiccon2017
* 3: attended icann2016
* 4: attended anthrocon, and comiccon2017
* 5: attended anthrocon, and icann2016
* 6: attended comiccon2017, and icann2016
* 7: attended anthrocon, comiccon2017, and icann2016

In [69]:
nodes = []
for i in range(node_min, node_max + 1):
    a = (i in nodes1, i in nodes2, i in nodes3)
    
    if a == (1, 1, 1): label = 7
    elif a == (0, 1, 1): label = 6
    elif a == (1, 0, 1): label = 5
    elif a == (1, 1, 0): label = 4
    elif a == (0, 0, 1): label = 3
    elif a == (0, 1, 0): label = 2
    elif a == (1, 0, 0): label = 1
    else: label = 0
    
    nodes.append([i, label])

In [70]:
nodes

[[0, 6],
 [1, 4],
 [2, 6],
 [3, 2],
 [4, 5],
 [5, 2],
 [6, 2],
 [7, 1],
 [8, 1],
 [9, 2],
 [10, 3],
 [11, 0],
 [12, 3],
 [13, 4],
 [14, 1],
 [15, 1],
 [16, 1],
 [17, 4],
 [18, 4],
 [19, 2],
 [20, 1],
 [21, 5],
 [22, 2],
 [23, 2],
 [24, 0],
 [25, 6],
 [26, 0],
 [27, 4],
 [28, 2],
 [29, 4],
 [30, 2],
 [31, 0],
 [32, 2],
 [33, 7],
 [34, 6],
 [35, 2],
 [36, 0],
 [37, 2],
 [38, 2],
 [39, 2],
 [40, 2],
 [41, 0],
 [42, 5],
 [43, 7],
 [44, 4],
 [45, 2],
 [46, 2],
 [47, 3],
 [48, 2],
 [49, 6],
 [50, 6],
 [51, 1],
 [52, 1],
 [53, 1],
 [54, 4],
 [55, 4],
 [56, 2],
 [57, 0],
 [58, 2],
 [59, 2],
 [60, 7],
 [61, 4],
 [62, 2],
 [63, 4],
 [64, 2],
 [65, 2],
 [66, 4],
 [67, 4],
 [68, 0],
 [69, 2],
 [70, 2],
 [71, 2],
 [72, 1],
 [73, 6],
 [74, 7],
 [75, 2],
 [76, 7],
 [77, 2],
 [78, 2],
 [79, 2],
 [80, 2],
 [81, 0],
 [82, 4],
 [83, 0],
 [84, 3],
 [85, 6],
 [86, 2],
 [87, 2],
 [88, 6],
 [89, 6],
 [90, 6],
 [91, 0],
 [92, 2],
 [93, 2],
 [94, 2],
 [95, 7],
 [96, 4],
 [97, 4],
 [98, 2],
 [99, 2],
 [100, 2],
 [101, 2],
 [102, 6],
 [103, 2],
 [104, 6],
 [105, 7],
 [106, 6],
 [107, 2],
 [108, 2],
 [109, 4],
 [110, 2],
 [111, 0],
 [112, 6],
 [113, 2],
 [114, 0],
 [115, 2],
 [116, 0],
 [117, 3],
 [118, 4],
 [119, 1],
 [120, 0],
 [121, 7],
 [122, 2],
 [123, 4],
 [124, 3],
 [125, 4],
 [126, 2],
 [127, 3],
 [128, 2],
 [129, 6],
 [130, 2],
 [131, 2],
 [132, 4],
 [133, 2],
 [134, 4],
 [135, 0],
 [136, 2],
 [137, 7],
 [138, 0],
 [139, 4],
 [140, 4],
 [141, 4],
 [142, 5],
 [143, 4],
 [144, 4],
 [145, 6],
 [146, 7],
 [147, 2],
 [148, 2],
 [149, 3],
 [150, 4],
 [151, 6],
 [152, 2],
 [153, 0],
 [154, 1],
 [155, 2],
 [156, 2],
 [157, 7],
 [158, 2],
 [159, 0],
 [160, 0],
 [161, 6],
 [162, 5],
 [163, 2],
 [164, 6],
 [165, 2],
 [166, 6],
 [167, 6],
 [168, 7],
 [169, 2],
 [170, 7],
 [171, 1],
 [172, 2],
 [173, 6],
 [174, 5],
 [175, 0],
 [176, 2],
 [177, 2],
 [178, 4],
 [179, 2],
 [180, 1],
 [181, 2],
 [182, 2],
 [183, 7],
 [184, 6],
 [185, 4],
 [186, 2],
 [187, 6],
 [188, 2],
 [189, 3],
 [190, 4],
 [191, 0],
 [192, 2],
 [193, 2],
 [194, 4],
 [195, 0],
 [196, 2],
 [197, 5],
 [198, 7],
 [199, 2],
 [200, 6],
 [201, 2],
 [202, 1],
 [203, 7],
 [204, 2],
 [205, 0],
 [206, 2],
 [207, 4],
 [208, 6],
 [209, 7],
 [210, 6],
 [211, 4],
 [212, 2],
 [213, 0],
 [214, 3],
 [215, 0],
 [216, 2],
 [217, 2],
 [218, 6],
 [219, 7],
 [220, 0],
 [221, 4],
 [222, 4],
 [223, 0],
 [224, 6],
 [225, 7],
 [226, 4],
 [227, 0],
 [228, 7],
 [229, 1],
 [230, 4],
 [231, 2],
 [232, 0],
 [233, 6],
 [234, 6],
 [235, 7],
 [236, 4],
 [237, 4],
 [238, 2],
 [239, 2],
 [240, 2],
 [241, 2],
 [242, 4],
 [243, 2],
 [244, 2],
 [245, 2],
 [246, 3],
 [247, 6],
 [248, 7],
 [249, 2],
 [250, 1],
 [251, 4],
 [252, 2],
 [253, 2],
 [254, 6],
 [255, 4],
 [256, 1],
 [257, 6],
 [258, 0],
 [259, 4],
 [260, 7],
 [261, 0],
 [262, 7],
 [263, 7],
 [264, 0],
 [265, 3],
 [266, 4],
 [267, 2],
 [268, 2],
 [269, 4],
 [270, 3],
 [271, 2],
 [272, 2],
 [273, 0],
 [274, 0],
 [275, 4],
 [276, 1],
 [277, 2],
 [278, 1],
 [279, 6],
 [280, 4],
 [281, 4],
 [282, 2],
 [283, 3],
 [284, 7],
 [285, 7],
 [286, 0],
 [287, 2],
 [288, 2],
 [289, 7],
 [290, 2],
 [291, 2],
 [292, 6],
 [293, 0],
 [294, 6],
 [295, 1],
 [296, 2],
 [297, 2],
 [298, 4],
 [299, 5],
 [300, 6],
 [301, 2],
 [302, 0],
 [303, 4],
 [304, 1],
 [305, 4],
 [306, 0],
 [307, 7],
 [308, 2],
 [309, 2],
 [310, 0],
 [311, 2],
 [312, 4],
 [313, 4],
 [314, 7],
 [315, 2],
 [316, 2],
 [317, 2],
 [318, 2],
 [319, 4],
 [320, 2],
 [321, 0],
 [322, 6],
 [323, 0],
 [324, 6],
 [325, 6],
 [326, 7],
 [327, 1],
 [328, 2],
 [329, 1],
 [330, 2],
 [331, 2],
 [332, 4],
 [333, 6],
 [334, 4],
 [335, 5],
 [336, 0],
 [337, 2],
 [338, 4],
 [339, 2],
 [340, 4],
 [341, 1],
 [342, 5],
 [343, 4],
 [344, 5],
 [345, 4],
 [346, 2],
 [347, 2],
 [348, 2],
 [349, 7],
 [350, 4],
 [351, 6],
 [352, 2],
 [353, 6],
 [354, 2],
 [355, 6],
 [356, 1],
 [357, 4],
 [358, 6],
 [359, 6],
 [360, 0],
 [361, 6],
 [362, 4],
 [363, 5],
 [364, 3],
 [365, 2],
 [366, 2],
 [367, 1],
 [368, 2],
 [369, 4],
 [370, 0],
 [371, 2],
 [372, 1],
 [373, 2],
 [374, 2],
 [375, 4],
 [376, 0],
 [377, 3],
 [378, 1],
 [379, 4],
 [380, 2],
 [381, 2],
 [382, 2],
 [383, 2],
 [384, 2],
 [385, 6],
 [386, 2],
 [387, 7],
 [388, 3],
 [389, 6],
 [390, 6],
 [391, 4],
 [392, 0],
 [393, 4],
 [394, 4],
 [395, 1],
 [396, 0],
 [397, 4],
 [398, 7],
 [399, 2],
 [400, 2],
 [401, 2],
 [402, 4],
 [403, 2],
 [404, 4],
 [405, 7],
 [406, 2],
 [407, 0],
 [408, 1],
 [409, 7],
 [410, 2],
 [411, 0],
 [412, 6],
 [413, 2],
 [414, 0],
 [415, 3],
 [416, 6],
 [417, 2],
 [418, 6],
 [419, 2],
 [420, 2],
 [421, 4],
 [422, 2],
 [423, 4],
 [424, 4],
 [425, 0],
 [426, 2],
 [427, 6],
 [428, 4],
 [429, 0],
 [430, 0],
 [431, 3],
 [432, 6],
 [433, 4],
 [434, 2],
 [435, 4],
 [436, 2],
 [437, 2],
 [438, 4],
 [439, 7],
 [440, 6],
 [441, 2],
 [442, 2],
 [443, 4],
 [444, 1],
 [445, 7],
 [446, 4],
 [447, 4],
 [448, 4],
 [449, 0],
 [450, 0],
 [451, 7],
 [452, 2],
 [453, 2],
 [454, 2],
 [455, 6],
 [456, 2],
 [457, 0],
 [458, 7],
 [459, 4],
 [460, 2],
 [461, 2],
 [462, 1],
 [463, 7],
 [464, 3],
 [465, 1],
 [466, 6],
 [467, 1],
 [468, 2],
 [469, 6],
 [470, 2],
 [471, 2],
 [472, 0],
 [473, 2],
 [474, 2],
 [475, 1],
 [476, 2],
 [477, 7],
 [478, 4],
 [479, 7],
 [480, 3],
 [481, 0],
 [482, 2],
 [483, 1],
 [484, 4],
 [485, 2],
 [486, 6],
 [487, 2],
 [488, 2],
 [489, 2],
 [490, 6],
 [491, 6],
 [492, 4],
 [493, 0],
 [494, 2],
 [495, 6],
 [496, 2],
 [497, 2],
 [498, 2],
 [499, 2],
 [500, 2],
 [501, 3],
 [502, 2],
 [503, 4],
 [504, 4],
 [505, 4],
 [506, 3],
 [507, 6],
 [508, 2],
 [509, 4],
 [510, 6],
 [511, 3],
 [512, 3],
 [513, 2],
 [514, 6],
 [515, 2],
 [516, 2],
 [517, 6],
 [518, 7],
 [519, 4],
 [520, 2],
 [521, 6],
 [522, 2],
 [523, 6],
 [524, 6],
 [525, 4],
 [526, 3],
 [527, 2],
 [528, 6],
 [529, 6],
 [530, 7],
 [531, 6],
 [532, 3],
 [533, 2],
 [534, 6],
 [535, 0],
 [536, 2],
 [537, 0],
 [538, 7],
 [539, 2],
 [540, 6],
 [541, 5],
 [542, 4],
 [543, 2],
 [544, 0],
 [545, 2],
 [546, 0],
 [547, 6],
 [548, 2],
 [549, 5],
 [550, 3],
 [551, 2],
 [552, 4],
 [553, 6],
 [554, 4],
 [555, 6],
 [556, 4],
 [557, 7],
 [558, 2],
 [559, 2],
 [560, 6],
 [561, 0],
 [562, 7],
 [563, 0],
 [564, 4],
 [565, 7],
 [566, 4],
 [567, 7],
 [568, 2],
 [569, 2],
 [570, 6],
 [571, 2],
 [572, 2],
 [573, 6],
 [574, 4],
 [575, 1],
 [576, 4],
 [577, 6],
 [578, 6],
 [579, 2],
 [580, 1],
 [581, 7],
 [582, 6],
 [583, 1],
 [584, 2],
 [585, 4],
 [586, 2],
 [587, 4],
 [588, 2],
 [589, 4],
 [590, 2],
 [591, 0],
 [592, 7],
 [593, 7],
 [594, 3],
 [595, 4],
 [596, 2],
 [597, 2],
 [598, 4],
 [599, 2],
 [600, 4],
 [601, 1],
 [602, 6],
 [603, 2],
 [604, 6],
 [605, 2],
 [606, 4],
 [607, 4],
 [608, 3],
 [609, 4],
 [610, 0],
 [611, 2],
 [612, 2],
 [613, 2],
 [614, 7],
 [615, 4],
 [616, 2],
 [617, 6],
 [618, 4],
 [619, 7],
 [620, 4],
 [621, 4],
 [622, 2],
 [623, 0],
 [624, 4],
 [625, 4],
 [626, 2],
 [627, 3],
 [628, 2],
 [629, 2],
 [630, 6],
 [631, 1],
 [632, 0],
 [633, 3],
 [634, 2],
 [635, 6],
 [636, 5],
 [637, 4],
 [638, 2],
 [639, 5],
 [640, 7],
 [641, 2],
 [642, 2],
 [643, 2],
 [644, 1],
 [645, 2],
 [646, 5],
 [647, 2],
 [648, 0],
 [649, 2],
 [650, 2],
 [651, 2],
 [652, 0],
 [653, 2],
 [654, 7],
 [655, 6],
 [656, 6],
 [657, 4],
 [658, 2],
 [659, 4],
 [660, 4],
 [661, 0],
 [662, 1],
 [663, 3],
 [664, 7],
 [665, 4],
 [666, 4],
 [667, 2],
 [668, 3],
 [669, 5],
 [670, 5],
 [671, 4],
 [672, 0],
 [673, 2],
 [674, 2],
 [675, 2],
 [676, 0],
 [677, 7],
 [678, 6],
 [679, 0],
 [680, 2],
 [681, 6],
 [682, 0],
 [683, 2],
 [684, 4],
 [685, 6],
 [686, 2],
 [687, 2],
 [688, 0],
 [689, 0],
 [690, 1],
 [691, 6],
 [692, 3],
 [693, 4],
 [694, 2],
 [695, 6],
 [696, 2],
 [697, 4],
 [698, 2],
 [699, 2],
 [700, 2],
 [701, 2],
 [702, 4],
 [703, 4],
 [704, 3],
 [705, 6],
 [706, 2],
 [707, 6],
 [708, 0],
 [709, 3],
 [710, 2],
 [711, 0],
 [712, 2],
 [713, 7],
 [714, 2],
 [715, 2],
 [716, 2],
 [717, 6],
 [718, 2],
 [719, 6],
 [720, 2],
 [721, 1],
 [722, 6],
 [723, 2],
 [724, 4],
 [725, 6],
 [726, 6],
 [727, 6],
 [728, 4],
 [729, 0],
 [730, 2],
 [731, 6],
 [732, 2],
 [733, 7],
 [734, 7],
 [735, 0],
 [736, 7],
 [737, 2],
 [738, 2],
 [739, 6],
 [740, 0],
 [741, 3],
 [742, 2],
 [743, 2],
 [744, 0],
 [745, 0],
 [746, 2],
 [747, 4],
 [748, 1],
 [749, 0],
 [750, 6],
 [751, 6],
 [752, 2],
 [753, 4],
 [754, 2],
 [755, 4],
 [756, 3],
 [757, 2],
 [758, 2],
 [759, 7],
 [760, 2],
 [761, 0],
 [762, 7],
 [763, 6],
 [764, 1],
 [765, 0],
 [766, 6],
 [767, 0],
 [768, 4],
 [769, 6],
 [770, 1],
 [771, 1],
 [772, 2],
 [773, 7],
 [774, 1],
 [775, 3],
 [776, 1],
 [777, 4],
 [778, 0],
 [779, 2],
 [780, 7],
 [781, 2],
 [782, 0],
 [783, 2],
 [784, 4],
 [785, 6],
 [786, 5],
 [787, 2],
 [788, 7],
 [789, 4],
 [790, 4],
 [791, 0],
 [792, 0],
 [793, 0],
 [794, 0],
 [795, 2],
 [796, 6],
 [797, 2],
 [798, 4],
 [799, 0],
 [800, 0],
 [801, 2],
 [802, 0],
 [803, 4],
 [804, 1],
 [805, 0],
 [806, 7],
 [807, 2],
 [808, 4],
 [809, 2],
 [810, 0],
 [811, 2],
 [812, 2],
 [813, 2],
 [814, 2],
 [815, 2],
 [816, 4],
 [817, 1],
 [818, 2],
 [819, 0],
 [820, 6],
 [821, 2],
 [822, 4],
 [823, 3],
 [824, 2],
 [825, 0],
 [826, 2],
 [827, 2],
 [828, 2],
 [829, 2],
 [830, 2],
 [831, 3],
 [832, 0],
 [833, 2],
 [834, 2],
 [835, 4],
 [836, 2],
 [837, 2],
 [838, 6],
 [839, 3],
 [840, 6],
 [841, 6],
 [842, 2],
 [843, 6],
 [844, 3],
 [845, 2],
 [846, 4],
 [847, 2],
 [848, 2],
 [849, 0],
 [850, 1],
 [851, 7],
 [852, 6],
 [853, 2],
 [854, 2],
 [855, 7],
 [856, 2],
 [857, 1],
 [858, 0],
 [859, 4],
 [860, 2],
 [861, 7],
 [862, 4],
 [863, 6],
 [864, 2],
 [865, 6],
 [866, 4],
 [867, 6],
 [868, 2],
 [869, 2],
 [870, 6],
 [871, 5],
 [872, 6],
 [873, 2],
 [874, 4],
 [875, 7],
 [876, 3],
 [877, 4],
 [878, 2],
 [879, 1],
 [880, 7],
 [881, 2],
 [882, 6],
 [883, 2],
 [884, 2],
 [885, 2],
 [886, 2],
 [887, 4],
 [888, 2],
 [889, 2],
 [890, 3],
 [891, 6],
 [892, 7],
 [893, 2],
 [894, 7],
 [895, 2],
 [896, 4],
 [897, 2],
 [898, 0],
 [899, 2],
 [900, 2],
 [901, 2],
 [902, 4],
 [903, 6],
 [904, 4],
 [905, 2],
 [906, 0],
 [907, 2],
 [908, 4],
 [909, 0],
 [910, 2],
 [911, 4],
 [912, 6],
 [913, 6],
 [914, 7],
 [915, 2],
 [916, 2],
 [917, 2],
 [918, 1],
 [919, 2],
 [920, 6],
 [921, 2],
 [922, 0],
 [923, 3],
 [924, 2],
 [925, 2],
 [926, 0],
 [927, 2],
 [928, 6],
 [929, 7],
 [930, 7],
 [931, 0],
 [932, 0],
 [933, 2],
 [934, 2],
 [935, 1],
 [936, 7],
 [937, 4],
 [938, 3],
 [939, 2],
 [940, 2],
 [941, 2],
 [942, 6],
 [943, 1],
 [944, 2],
 [945, 0],
 [946, 2],
 [947, 2],
 [948, 4],
 [949, 6],
 [950, 0],
 [951, 6],
 [952, 6],
 [953, 5],
 [954, 7],
 [955, 6],
 [956, 1],
 [957, 1],
 [958, 6],
 [959, 2],
 [960, 2],
 [961, 2],
 [962, 0],
 [963, 6],
 [964, 6],
 [965, 6],
 [966, 6],
 [967, 6],
 [968, 2],
 [969, 2],
 [970, 2],
 [971, 2],
 [972, 2],
 [973, 5],
 [974, 7],
 [975, 6],
 [976, 2],
 [977, 1],
 [978, 2],
 [979, 2],
 [980, 2],
 [981, 2],
 [982, 5],
 [983, 0],
 [984, 4],
 [985, 2],
 [986, 2],
 [987, 6],
 [988, 4],
 [989, 7],
 [990, 3],
 [991, 2],
 [992, 1],
 [993, 0],
 [994, 6],
 [995, 7],
 [996, 0],
 [997, 4],
 [998, 4],
 [999, 7],
 ...]

In [71]:
np.savetxt('twitter.labels', nodes, delimiter='\t', fmt=['%i', '%i'])