In [2]:
import pandas as pd

In [3]:
# load data
path = "data/tweets/"

tweets1 = pd.read_csv(path+"anthrocon_tweets.csv", delimiter=',')
tweets2 = pd.read_csv(path+"comiccon2017_tweets.csv", delimiter=',')
tweets3 = pd.read_csv(path+"icann2016_tweets.csv", delimiter=',')

In [4]:
tweets1.describe()

           tweet_id      node_id  attendance_label
count  3.842000e+03  3842.000000       3842.000000
mean   1.025670e+18   594.361270          0.686101
std    1.517368e+16   292.637332          0.464136
min    1.014305e+18     0.000000          0.000000
25%    1.015596e+18   327.000000          0.000000
50%    1.016819e+18   643.000000          1.000000
75%    1.032741e+18   790.000000          1.000000
max    1.068394e+18  1059.000000          1.000000

In [5]:
tweets2.describe()

           tweet_id      node_id  attendance_label
count  4.381000e+03  4381.000000       4381.000000
mean   8.952836e+17  1237.376855          0.757818
std    1.346167e+16   717.575998          0.428453
min    8.888001e+17     0.000000          0.000000
25%    8.890000e+17   593.000000          1.000000
50%    8.895079e+17  1252.000000          1.000000
75%    8.929518e+17  1858.000000          1.000000
max    1.056351e+18  2494.000000          1.000000

In [11]:
tweets3.describe()

           tweet_id      node_id  attendance_label
count  2.550000e+03  2550.000000       2550.000000
mean   1.031794e+18   520.085882          0.301176
std    2.278375e+16   295.359141          0.458859
min    9.896981e+17     0.000000          0.000000
25%    1.011585e+18   248.000000          0.000000
50%    1.034929e+18   540.500000          0.000000
75%    1.052350e+18   781.000000          1.000000
max    1.068184e+18  1015.000000          1.000000

In [13]:
tweets1.node_id.unique().size

1060

In [14]:
tweets2.node_id.unique().size

2495

In [15]:
tweets3.node_id.unique().size

1016